*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    line-height: 1.6;
}

header{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;
    top: 0;
    /* left: 0;
    right: 0; */

    z-index: 1000;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem;
}

.nav-logo{
    font-size: 20px;
    font-weight: bold;
    background: linear-gradient(135deg, #ff6ec4, #7873f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-links a{
    color: black;
    font-size: small;
    text-decoration: none;
    position: relative;

    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

.nav-links a:hover{
    color: #677eea;
}

.menu-toggle{
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    color: #333;
}

/* Hero Section */
.hero{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-bg{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: linear-gradient(135deg, #ff6ec4, #7873f5);
}

.hero-content{
    position: relative;
    z-index: 1;
    color: white;
    padding: 2rem;
}

.hero-title{
    text-transform: capitalize;
    font-size: 4rem;
    margin-bottom: 1rem;
}

.hero-subtitle{
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.cta-button{
    padding: 0.5rem 1rem;
    background: transparent;
    border: 2px solid white;
    color: white;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;

    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.cta-button:hover{
    background-color: white;
    color: black;
    transform: translateY(-3px);
    -webkit-transform: translateY(-3px);
    -moz-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    -o-transform: translateY(-3px);
}


/* About Section */


/* out services */
.services{
    padding: 6rem 6rem;
    background-color: white;
}

/* .services-title{

} */

.card-wrapper{
    position: relative;
    margin-top: 3rem;
}

.card-container{
    display: flex;
    gap: 2rem;
    padding: 2rem;
    overflow-x: auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.card{
    min-width: 300px;
    background: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 2rem;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.1);

    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

    text-align: center;
}

.card:hover{
    transform: translateY();
    -webkit-transform: translateY();
    -moz-transform: translateY();
    -ms-transform: translateY();
    -o-transform: translateY();

    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.1);
}

.scroll-btn{
    position: absolute;
    top: 50%;
    transform: translateX(-10px);
    -webkit-transform: translateX(-10px);
    -moz-transform: translateX(-10px);
    -ms-transform: translateX(-10px);
    -o-transform: translateX(-10px);
    background: white;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

    z-index: 10;
}

.scroll-btn.left{
    left: -25px;
}

.scroll-btn.right{
    right: -25px;
}

.scroll-btn i{
    height: 10px;
    width: auto;
    color: #333;
}

/* responciveness - media querry */

@media (max-width: 768px){
    .nav-links{
        visibility: hidden;
        position: fixed;
        top: 70px;
        left: -100%;
        width: 100%;
        background: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh-70px);
    }

    .menu-toggle{
        display: block;
    }
}
