/* Universal Selector */
* {
  font-family: Arial, sans-serif;
}

/* Element Selector */
h1{
  text-align: center;
  color: blueviolet;
}

/* Class Selector */
.text{
  color: coral;
}

/* ID Selector */
#selectors{
  height: 100vh;
  width: 100vw;
  /* text-align: center; */
}

/* Group Selector */
h1, p{
  text-align: center;
}
