$color-black: #000;
$color-white: #fff;

.header{
    width: fit-content;
}

.container{
    color: $color-white;
    background: $color-black;
    padding: 1rem 2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
    height: 100vh;
    // z-index: 1000;
    // background: ;

    .logo{
        font-size: 20px;
        font-weight: 700;
        font-family: "Google Sans", sans-serif;
    }

    .nav{
        display: flex;
        flex-direction: column;
        gap: 20px;

        a{
            width: fit-content;
            color: $color-white;
            text-decoration: none;
            font-weight: 200;
            font-size: 16px;
            letter-spacing: 1px;
            text-transform: uppercase;
            font-family: "Roboto Condensed", sans-serif;
            transition: all 0.3s ease;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;

        }

        a:hover{
            background: linear-gradient(90deg, #ff6a00, #ee0979);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: 900;
        }
    }

    .social-media-link{
        display: flex;
        flex-direction: column;
        gap: 10px;

        .media-link{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            width: 40px;
            background: $color-white;
            border-radius: 50%;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;

            i{
                color: $color-black;
                font-size: 20px;
                // line-height: 1;
            }
        }
    }

    .copyright{
        font-family: "Roboto Condensed", sans-serif;
        font-weight: 200;
        letter-spacing: 1px;
    }
    .toggle-menu{
        display: none;
    }
}
